.upper-section {
  background-color: #282c34;
  box-shadow: 0 2px 5px 2px rgb(0, 0, 0);
}
.title-app {
  color: rgb(212, 208, 208);
}
.select-web {
  width: 250px;
}
.form-box {
  width: 100%;
  color: black;
  height: 78vh;
}
